/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background: #eee;
}

#left {
  float: left;
  width: 33.3%;
  background: #666;
}

#middle {
  float: left;
  width: 33.4%;
  background: #888;
}

#right {
  float: right;
  width: 33.3%;
  background: #666;
}

#full {
  float: center;
  width: 100%;
  overflow: auto;
  padding: 50px;

}

#division {
  padding: 20px;
  margin-bottom: 20px;
  margin: 0 10px;
  background: #6ea3da;
}

aside {
  float: left;
  background: #fff;
  margin-left: 35px;
  padding: 40px 60px 40px 60px;
  
}

footer {
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 15px;  
  background: #ccc;
}
